body{
    width: 100%;
    height: 100%;
    background:url(image/bg1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.debut{
 width: 100%;
 height:100px;
 background-color:black;
 margin-top: -8px;
}
img{
    float: left;
}
h1{
    width:90%;
    text-align: center;
    color: aliceblue ;
    height:100%; 
    padding-top:12px;
    float: right;
}
p{
    margin-top: -15px;      
}
.contener{
    width:100%;
    height:700px;
}
form{
    width:70%;
    margin-left: 15%;
    height: 100%;
    border-radius:15px 15px 15px 15px;
    background: white;
    padding: 10px 10px 10px 10px;
}
.haute{
    width: 90%;
    height: 10%;
    border-bottom : 2px solid grey;
    margin-top: -35px
}
.input{
    width: 100%;
}
.gauche{
    width: 65%;
    height: 90%;
    float: left;
   
}
.label1{
    font-size: 20px;
}
.prenom{
    width: 80%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
}
.label2{
    font-size: 20px;
}
.nom{
    width: 80%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
}
.label3{
    font-size: 20px;
}
.login{
    width:80%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
}
.label4{
    font-size: 20px;
}
.password{
    width: 80%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
}
.label5{
    font-size: 20px;
}
.password1{
    width: 80%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
}
.label6{
    font-size: 23px;
}
.label7{
    font-size: 22px;
    margin-left: 35%;
    
}
.bouton{
    width: 100%;
    margin-top: 2%;
}
#btn1{
    width:25%;;
    height:40px; 
    background-color:rgb(27, 197, 197); 
    float: right;
    margin-right: 20%;
    font-size: 18px;
    color: white;
    border-radius: 3px 3px 3px 3px;
}
#btn2{
    width:25%;;
    height:40px; 
    background-color:rgb(27, 197, 197); 
    margin-left: 25%;
    font-size: 18px;
    color: white;
    border-radius: 3px 3px 3px 3px;


}
.droite{
    width:35%;
    height: 100%;
    float: right;

}
.avatar{
    position: center;
    margin-top: 5%;
    width: 250px;
    height:250px;
    margin-left: 20%;
    border-radius: 130px 130px 130px 130px;
    border:  5px solid rgb(27, 197, 197);
}