body{
    width: 100%;
    background-color: rgb(66, 74, 77);
}
form{
    width: 60%;
    background-color:grey;
    margin-left: 20%;
    border-radius: 10px 10px 10px 10px;
}
.contener{
    width: 90%;
    margin-left: 18%;
    margin-top: 10%;
}
.first{
    width: 100%;
}
label{
    text-align: center;
    font-size: 22px;
    margin-left: 25%;
}
.textarea{
    border-radius: 0px 10px 0px 10px;
    border-color: black;
    text-align: center;
}
.second{
    width: 100%;
}
button{
    width: 15%;
    height:35px;
    font-size:20px;
    border-radius: 5px 0px 5px 0px;
    color:white;
    background-color: black;
}
.annuler{
    width: 15%;
    height:35px;
    font-size:20px;
    border-radius: 5px 0px 5px 0px;
    color:white;
    background-color:red;
}
.third{
    width: 100%;
}
.readonly{
    border-radius: 0px 10px 0px 10px;
    border-color: black;
    text-align: center;  
}